.message-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3px 0;

  .user-avatar-in-group {
    align-self: self-end;
    margin-right: 5px;
    flex-shrink: 0;
    border-radius: 50%;
  }

  .message {
    box-sizing: border-box;
    max-width: 500px;
    padding: 0 10px 2px;
    border-radius: 10px;
    white-space: pre-wrap;
  
    display: flex;
    border: none;
    background-color: white;
  
    p {
      color: var(--base-font-color);
      margin-bottom: 0;
      margin-bottom: 2px;
      word-break: break-all;
    }
  
    .message-meta {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
    
      padding: 2px;
    
      .timestep {
        align-self: flex-end;
        margin-left: 3px;
      
        white-space: nowrap;
        font-size: smaller;
        color: grey;
      }
    }
  } 
}


.partner-message {
  justify-content: left;
  padding-right: 10%;

  .message {
    border-radius: 10px 10px 10px 0;
  }
}

.my-message {
  justify-content: right;
  padding-left: 12%;

  .message {
    border-radius: 10px 10px 0 10px;
  }
}

// --- Metadata

.metadata {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;

  background-color: #F7E4E4;
  border-radius: 5px;
  border-left: 2px solid #FF7370;
}

.metadata-title {
  font-weight: bolder;

  a {
    color: #FF7370;
  }
}

.metadata-description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  color: var(--base-font-color);
}
