.metadata {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;

  background-color: #F7E4E4;
  border-radius: 5px;
  border-left: 2px solid #FF7370;

  img {
    object-fit: cover;
  }
}

.metadata-title {
  font-weight: bolder;

  a {
    color: #FF7370;
  }
}

.metadata-description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  color: var(--base-font-color);
}