.send-message {
  position: relative;
  display: flex;
  background-color: white;
  padding-bottom: 10px;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.wrapper-class {
  width: 100%;
}

$texttool_height: 26px;

@media (max-width: 391px) {
  $texttool_height: 2 * $texttool_height;

  .space-for-texttools {
    height: $texttool_height !important;
  }

  .toolbar-class {
    top: -$texttool_height !important;
  }
}

@media (max-width: 218px) {
  $texttool_height: 3 * $texttool_height;

  .space-for-texttools {
    height: $texttool_height !important;
  }

  .toolbar-class {
    top: -$texttool_height !important;
  }
}

.wrapper-send-message {
  position: relative;

  .space-for-texttools {
    width: 100%;
    height: $texttool_height;
  }
}

.toolbar-class {
  border: none !important;
  position: absolute;
  top: -$texttool_height;
  height: auto;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .inside-params {
    flex-wrap: nowrap;
  }
}

.editor-class {
  padding: 10px;
  min-height: 60px;
  max-height: 120px;

  overflow-y: scroll;

  div {
    margin-top: 0;
  }

  span {
    word-break: break-all;
  }
}

.popover-class {
  box-sizing: content-box;
  transform: scale(1) translate(-65%, -100%);
  transform-origin: 1em 0% 0px;
  top: 0%;
}

.attachments-wrapper {
  width: 100%;
  position: absolute;
  top: -60px;
  display: flex;
  height: 60px;
  z-index: 998;

  .attachments {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 1px;

    @media not ((min-width: 650px) and (min-height: 650px)) {
      &::-webkit-scrollbar {
        display: none;
      }
    }    

    &::-webkit-scrollbar {
      background-color: white;
      height: 5px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #888; 
      border-radius: 5px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    .attachment {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      margin-bottom: -3px;
      user-select: none;

      color: var(--base-font-color);
      background: white;
      border-radius: 10px 10px 0 0;
      border: 1px black;
      box-shadow: inset 0 -5px 5px -5px var(--base-font-color);

      .image-preview {
        padding: 5px;
        padding-bottom: 0;

        .image {
          width: 64px;
          height: 50px;
          object-fit: cover;
          border-radius: 6px 6px 0 0 ;
        }

        .image-close {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          background-color:#ffffffbb;
          font-size: 12px;

          top: 5px;
          right: 5px;
          border-radius: 50%;
          position: absolute;
        }
      }

      .file-attachment {
        display: flex;
        align-items: center;
        height: 36px;
        padding: 0 10px;
        justify-content: space-between;
        gap: 10px;

        .attachment-name {
          margin: 0;
          max-width: 100px;
          white-space: nowrap;
          height: 20px;
          text-overflow: ellipsis;
          overflow: clip;
        }

        .attachment-close {
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}
