.messages {
    /* max-height: 679px; */
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(to bottom right, #F8DCDA, #FBCAC4, #FFB5AB, #FCC9C3); /* TODO: вынести в переменную */
    padding: 10px;
    height: 100%;

    .messages-with-same-date {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

    .loading-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loading {
        background-color: white;
        border-radius: 50%;
        padding: 10px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
