.messages {
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    height: 100%;

    .space-for-files {
        min-height: 58px;
        width: 100%;
        display: block;
    }

    .messages-with-same-date {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

    .loading-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loading {
        background-color: white;
        border-radius: 50%;
        padding: 10px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
