.send-button {
  align-self: center;
  border: none;
  font-size: 24px;
  color: #516460;
  background: none;

  cursor: pointer;
  width: 60px;

  &:hover {
    color: #06A191;
  }
}

[class="ant-picker-time-panel-column"] {
  scrollbar-width: none !important;
}

/* TODO: shared modal/modal mixin */
.delay-modal {
  inset: unset !important;
  display: flex;
  border-radius: 10px !important;
  border: none !important;
  flex-direction: column;
  position: absolute;
  min-width: 360px;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  padding: 10px !important;
  color: #516460;

  header {
    padding: 16px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
  
    .icon {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #898989;
    }
  }
}