$coral-headers-color: var(--base-accent-color);;

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--light-background-gradient);

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    .h1 {
      font-weight: bolder;
      color: var(--base-accent-color);
      line-height: 200px;
    }
    
    .h2 {
      font-weight: bold;
      color: var(--base-accent-color);
    }

    .h3 {
      font-weight: bold;
      color: var(--base-accent-color);
    }
    
    .h4 {
      color: var(--base-accent-color);
    }
  }
}

.action-button {
  background-color: $coral-headers-color;
  height: 55px;

  color: white;
  font-weight: bold;
  font-size: 24px;
  max-width: 500px;
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    max-width: 400px;
  }

  @media (max-width: 500px) {
    font-size: 5vw;
    max-width: 300px;
  } 

  @media (max-width: 400px) {
    font-size: 5vw;
    max-width: 300px;
  } 

  &:hover {
    background-color: var(--base-accent-color) !important;
    color: white !important;
  }
}