@import '../../../../styles/mixins.scss';

.chat-header {
  @include header-base-style;

  .back-button {
    margin: 0 16px;
  }

  .info {
    @include title-in-header;
    cursor: pointer;

    .text-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      
      .name {
        font-weight: 500;
      }  

      .description {
        font-weight: 100;
        font-size: 14px;
      }
    }
  }
}
