.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--light-background-gradient);

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    
    .h1 {
      font-size: 200px;
      font-weight: bolder;
      color: #F78579;
      line-height: 200px;
    }

    .h2 {
      font-size: 50px;
      font-weight: bold;
      color: #F78579;
    }

    .h3 {
      font-size: 28px;
      font-weight: 500;
      color: #F78579;
    }

    .h4 {
      font-size: 24px;
      color: #F78579;
    }
  }
}

.action-button {
  background-color: #F78579;
  height: 55px;
  

  color: white;
  font-weight: bold;
  font-size: 24px;
  min-width: 400px;
  max-width: 700px;

  &:hover {
    background-color: #FF7370 !important;
    color: white !important;
  }
}