.header {
  padding: 16px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 500;

  .icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--base-font-color);
  }

  .back-button {
    margin-right: 16px;
  }

  .close-button {
    margin-left: auto;
  }
}
