.main-info {
  display: flex;
  flex-direction: row;
  border-bottom: 7px solid #F1F1F1;
  padding: 6px 20px 20px 20px;

  .avatar {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .text-info {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-weight: 500;
      font-size: 16px;
    }

    .last-seen {
      font-weight: 200;
      font-size: 14px;
    }
  }
}
