@mixin icon {
  align-self: center;
  border: none;
  color: var(--base-font-color);
  background: none;

  cursor: pointer;

  &:hover {
    color: var(--hover-icon-color);
  }
}

.small-icon-svg-button {
  @include icon;
  font-size: 16px;
}

.big-icon-svg-button {
  @include icon;
  
  width: 60px;
  font-size: 24px;
}
