.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: white;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  color: black;
  padding: 10px;
  background: var(--base-background-gradient);
}

