.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  color: black;
  padding: 10px;
  background-color: #F7E4E4;
}

