.send-message {
  display: flex;
  background-color: white;

  ::-webkit-scrollbar {
    display: none;
  }
}

.send-button {
  align-self: center;
  border: none;
  font-size: 24px;
  color: #516460;
  background: none;

  cursor: pointer;

  &:hover {
    color: #06A191;
  }
}

