[Unit]
Description=Kilogram server
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/team1/deployment
ExecStart=/home/team1/.nvm/versions/node/v18.20.0/bin/node dist/server/bundle.js
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target