.chat-list-item {
  padding: 0 !important;
  border-bottom: none !important;

  .ant-list-item-meta-avatar {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 50%;
    }
  } 
  
  .chat-list-item-meta {
    padding: 10px;
    cursor: pointer;
  
    &:hover {
      background-color: #ddf1f1;
    }
  }
  
  .chat-list-item-meta-active {
    background-color: #00CCC940 !important;
  }
  
}

