.chat-list-item {
  padding: 0 !important;
  border-bottom: none !important;
}

.chat-list-item-meta {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #ddf1f1;
  }
}

.chat-list-item-meta-active {
  background-color: #00CCC940 !important;
}
