.message {
  max-width: 500px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  white-space: pre-wrap;

  border: none;
  background-color: white;
  display: flex;
}

.text {
  color: #516460;
}

.timestep {
  align-self: flex-end;
  margin-left: 6px;

  white-space: nowrap;
  font-size: smaller;
  color: grey;
}

.my-message {
  align-self: start;
  border-radius: 10px 10px 10px 0;
}

.partner-message {
  align-self: end;
  border-radius: 10px 10px 0 10px;
}
