.message {
  max-width: 500px;
  padding: 0  10px 2px;
  border-radius: 10px;
  margin-top: 5px;
  white-space: pre-wrap;

  border: none;
  background-color: white;
  display: flex;

  p {
    color: #516460;
    margin-bottom: 0;
    word-break: break-all;
  }

  img {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 3px;

    object-fit: cover;
  }
  
}

.timestep {
  align-self: flex-end;
  margin-left: 6px;

  white-space: nowrap;
  font-size: smaller;
  color: grey;
}

.partner-message {
  align-self: start;
  border-radius: 10px 10px 10px 0;
}

.my-message {
  align-self: end;
  border-radius: 10px 10px 0 10px;
}

.message-meta {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  padding: 5px;

  /* TODO очень много раз повторяется */
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;

  background-color: #F7E4E4;
  border-radius: 5px;
  border-left: 2px solid #FF7370;
}

.metadata-title {
  font-weight: bolder;

  a {
    color: #FF7370;
  }
}

.metadata-description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  color: #516460;
}
