.log-in-page {
    @media (max-width: 500px) {
        .h1 {
            font-size: 15vw;
        }

        .h2 {
            font-size: 5vw;
        }
    } 

    @media (500px <= width <= 1260px) {
        .h1 {
            font-size: 15vw;
        }

        .h2 {
            font-size: 5vw;
        }
    } 

    @media (min-width: 1260px) {
        .h1 {
            font-size: 195px;
        }

        .h2 {
            font-size: 65px;
        }
    }
}
