@media (max-width: 750px) {
  .h1 {
    font-size: 40vw;
  }

  .h2 {
    font-size: 6vw;
  }

  .h4 {
    font-size: 4vw;
  }
} 

@media (750px <= width <= 1000px) {
  .h1 {
    font-size: 300px;
  }

  .h2 {
    font-size: 5vw;
  }
  
  .h4 {
    font-size: 3vw;
  }
} 

@media (min-width: 1000px) {
  .h1 {
      font-size: 300px;
  }

  .h2 {
      font-size: 50px;
  }
  
  .h4 {
    font-size: 32px;
  }
}
