.header {
  padding: 0 10px;

  background-color: white;
  border-bottom: solid 1px gray;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.icon {
  font-size: 20px;
}