.header {
  padding: 0 10px;

  background-color: white;
  border-bottom: solid 1px lightgray;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.icon {
  font-size: 20px;
  color: #516460;
}

.search svg {
    font-size: 18px;
    color: #516460;
}