.header {
  padding: 0 20px;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  .search {
    padding: 5px 15px !important;
    background-color: #F2F2F2 !important;
    border-radius: 16px !important;
    height: 32px;
  }
}

.icon {
  font-size: 20px;
}
