@use '../../../commonComponents/mainInfo/MainInfo.module.scss';

.main-info {

  .name-input {
    padding-left: 14px;
    flex-grow: 2;
    display: flex;
    align-items: center;

    .background-box {
      padding-bottom: 2px;
      background-size: 200% 100%;
      background-image: linear-gradient(to left, var(--base-accent-color) 50%, var(--base-font-color) 50%);
      transition: background-position 0.5s;
      width: 100%;

      .input-wrapper {
        background-color: white;
        padding-left: 1px;
        margin-top: -1px;
        margin-left: -1px;
        display: block;
        width: 102%;

        input {
          padding: 2px 0;
        }
      }
    }

    .input-focus {
      background-position: -100% 0;
    }
  }
}
