:root {
  --light-background-gradient: linear-gradient(to bottom right, #ffffff, #FDE5DE, #FCD9CF, #FEEDE8);
  --base-background-gradient: linear-gradient(to bottom right, #F8DCDA, #FBCAC4, #FFB5AB, #FCC9C3);
  --base-font-color: #516460;
  --base-accent-color: #FF686B;
  --hover-color: #ddf1f1;
  --active-color: #bff2f1;
  --hover-icon-color: #06A191;
  --base-background-color: #ff888a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
