/* TODO: вынести + modal mixin */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.4) !important;
  opacity: 0;
  transition: opacity 120ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  z-index: 999;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.new-message-modal {
  inset: unset !important;
  display: flex;
  border-radius: 10px !important;
  border: none !important;
  flex-direction: column;
  position: absolute;
  min-width: 360px;
  min-height: 540px;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  padding: 0 !important;
  color: #516460;

  header {
    padding: 16px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
  
    .icon {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #898989;
    }
  }

}


.new-message-list-item {
  padding: 0 !important;
  border-bottom: none !important;
  line-height: 1 !important;

  .ant-list-item-meta-avatar {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 50%;
    }
  } 
  
  .chat-list-item-meta {
    padding: 8px 16px;
    cursor: pointer;
  
    &:hover {
      background-color: #ddf1f1;
    }
  }
  
  .chat-list-item-meta-active {
    background-color: #00CCC940 !important;
  }
  
}
.new-message-user-list {

  .search-bar {
    padding: 0 16px 10px 16px;
    
    .search {
      padding: 5px 15px !important;
      background-color: #F2F2F2 !important;
      border-radius: 16px !important;
      height: 32px;
    }
  }
}