.new-chat-buttons {
  position: absolute;
  color: white;
  bottom: 0;
  right: 0;

  .main-button {
    cursor: pointer;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-color: #FF686B;
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    
    display: flex; 
    justify-content: center;
    align-items: center;

    .close {
      position: relative;
    }

    .pencil {
      position: relative;
    }
  }

  .extra-buttons {
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #FF686B;
    position: absolute;
    border-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    opacity: 0;
  }
}

.show-new-group-button {
  animation: loading-fade 200ms 1 cubic-bezier(.27,0,.05,1.2) both;
}

.hide-new-group-button {
  animation: loading-fade-backwards 150ms 1 ease-in both;
  animation-direction: reverse;
}

@keyframes loading-fade {
  0% {
    opacity: 0;
    display: none;
    right: 32px;
    bottom: 30px;
  }

  100% {
    opacity: 1;
    right: 32px;
    bottom: 155px;
    display: flex;
  }
}

@keyframes loading-fade-backwards {
  0% {
    opacity: 0;
    display: none;
    right: 32px;
    bottom: 30px;
  }

  100% {
    opacity: 1;
    right: 32px;
    bottom: 155px;
    display: flex;
  }
}


.show-new-chat-button {
  animation: loading-fade-new-message 200ms 1 cubic-bezier(.27,0,.20,1.2) both;
}

.hide-new-chat-button {
  animation: loading-fade-new-message-backward 150ms 1 ease-in both;
  animation-direction: reverse;
}

@keyframes loading-fade-new-message {
  0% {
    opacity: 0;
    display: none;
    right: 32px;
    bottom: 30px;
  }

  100% {
    opacity: 1;
    right: 32px;
    bottom: 95px;
    display: flex;
  }
}

@keyframes loading-fade-new-message-backward {
  0% {
    opacity: 0;
    display: none;
    right: 32px;
    bottom: 30px;
  }

  100% {
    opacity: 1;
    right: 32px;
    bottom: 95px;
    display: flex;
  }
}


.rotate {
  animation: rotate45 200ms 1 cubic-bezier(.27,0,.20,1.2) both;
}
    
@keyframes rotate45 { 
    0% { 
      transform: rotate(45deg); 
    } 
    100% { 
      transform: rotate(0deg); 
    }
}

