.panel {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #F8DCDA, #FBCAC4, #FFB5AB, #FCC9C3); /* TODO: вынести в переменную */
  display: flex;
  justify-content: center;
  align-items: center;

  .start-text {
    padding: 5px 10px;
    border-radius: 18px;
    background-color: #FF7370;
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: block;
  }
}
